

/**************
Orange hex code: #f98258
grey input area hex code: #ccd6db
dark grey input text hex code: #7d8082

***************/



body {
	font-family:'Asap', sans-serif;
  color:#7d8082;
}

a {
  color:#7d8082
}

span {
	font-size:5em;
}




input[type=text] {
  margin-bottom: 10px;
  background-color: #ccd6db;
}

button {
  color:#fff;
}


/***.bg-section {
  background-color: teal;
  background:center no-repeat fixed url(cap.jpg) #eee;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

***/

.jumbotron {
  margin:0;
  position: relative;
  background: teal url("../static/assets/cap-bg.jpg") center center;
  width:100%;
  height:100%;
  background-size: cover;
  overflow:hidden;

}

.section {
  position:relative;
  padding: 10% 5% 10% 5%;
}

/********* Nav Bar *********/
.navbar {
  background-color: white;
  
}


.navbar a {

}


footer {
  background:#7d8082;
  padding: 5%;
  color:#fff;
}


/********* Landing; Jumbotron *********/

.jumbobox h1, .jumbobox h2, .jumbobox h3,
#exploreModule h1, #exploreModule h2, #exploreModule h3{
  color:#fff;
}


.go-btn {
  background-color:#f98258;
  margin-left: -25%;
}




/********* Category Icon *********/
#category a {
  color:teal;
}#resourceCat a {
  color:white;
}


#category a:hover, #resourceCat a:hover {
  color:#f98258;
  text-decoration: none !important;
}

#category, #resourceCat p {
  text-transform: uppercase;
  margin-top: 2%;
}

#explorecat {
  color:white;
}



/********* Articles *********/

#goto {
  margin:0;
  padding:1%;
  background: #aaa;
  color:white;
}
.result {
	background-color: #eee;
	padding:2%;
	margin-bottom:2%;
}

.article-title {
  color:teal;

}

#backto{
  margin-top: 10%;
}

#backto a {
  color: teal;
}


/********* Resource Module *********/
.resourcemod {
	background-color: #eee;
	padding:2%;
	margin-bottom:2%;
}

.resourcemod a {
  color:teal;
}





/***** ICON FONT ******/

@charset "UTF-8";

/* untitled-font-1 */
@font-face {
  font-family: "untitled-font-1";
  src:url("https://fontastic.s3.amazonaws.com/kCqmu6HTqMr6847Rf3XL4T/fonts/1442088835.eot");
  src:url("https://fontastic.s3.amazonaws.com/kCqmu6HTqMr6847Rf3XL4T/fonts/1442088835.eot?#iefix") format("embedded-opentype"),
    url("https://fontastic.s3.amazonaws.com/kCqmu6HTqMr6847Rf3XL4T/fonts/1442088835.woff") format("woff"),
    url("https://fontastic.s3.amazonaws.com/kCqmu6HTqMr6847Rf3XL4T/fonts/1442088835.ttf") format("truetype"),
    url("https://fontastic.s3.amazonaws.com/kCqmu6HTqMr6847Rf3XL4T/fonts/1442088835.svg#1442088835") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-employment:before {
  content: "a";
}
.icon-family:before {
  content: "b";
}
.icon-finances:before {
  content: "c";
}
.icon-home:before {
  content: "d";
}
