
.exploreDiv {
	border-radius:50%;
	background-color:#555;
	height:50px;
	width:50px;
}

input[type=text] {
  margin-bottom: 10px;
}


body {
	padding-left:10%;
	padding-right:10%;
	font-family:'Asap', sans-serif;
}

span {
	font-size:5em;
}


/***** ICON FONT ******/

@charset "UTF-8";

/* untitled-font-1 */
@font-face {
  font-family: "untitled-font-1";
  src:url("https://fontastic.s3.amazonaws.com/kCqmu6HTqMr6847Rf3XL4T/fonts/1442088835.eot");
  src:url("https://fontastic.s3.amazonaws.com/kCqmu6HTqMr6847Rf3XL4T/fonts/1442088835.eot?#iefix") format("embedded-opentype"),
    url("https://fontastic.s3.amazonaws.com/kCqmu6HTqMr6847Rf3XL4T/fonts/1442088835.woff") format("woff"),
    url("https://fontastic.s3.amazonaws.com/kCqmu6HTqMr6847Rf3XL4T/fonts/1442088835.ttf") format("truetype"),
    url("https://fontastic.s3.amazonaws.com/kCqmu6HTqMr6847Rf3XL4T/fonts/1442088835.svg#1442088835") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-employment:before {
  content: "a";
}
.icon-family:before {
  content: "b";
}
.icon-finances:before {
  content: "c";
}
.icon-home:before {
  content: "d";
}
