.sponsorph {
	width:100%;
	height:100px;
	background-color:#369;
}

.exploreDiv {
	border-radius:50%;
	background-color:#555;
	height:50px;
	width:50px;
}

input[type=text] {
  margin-bottom: 10px;
}


body {
	padding-left:10%;
	padding-right:10%;
}