

/**************
orange buttons: #EF6C00
Dark Grey:  #4A4A4A
input boxes: #EFEFEF
text in input boxes: #7D8082
Dark Teal color: #096378
Light grey: #F5F5F7

***************/





/********* Base **********/

body {
	font-family:'Asap', sans-serif;
  color:#4A4A4A;
  font-size: 1.5em
}

input[type=text] {
  margin-bottom: 10px;
  background-color:#EFEFEF;
  color:#7D8082;
  font-size: 2em;
}

button {
  color:#fff;
}

/**
Homepage
nav bar- 1.5em
"LegalPal Help Texans navigate legal troubles"- 3.5em;
"How can we"- 3em;
 input fields- 2em
text below icons- 2em
**/

.jumbotron {
  margin:0;
  position: relative;
  background: teal url("../static/assets/cap-bg.jpg") center center;
  width:100%;
  height:100%;
  background-size: cover;
  overflow:hidden;

}

.section {
  position:relative;
  padding: 10% 5% 10% 5%;
}

/********* Nav Bar *********/
.navbar {
  background-color: white;
  font-size:1.5em;
}


.navbar a {

}


footer {
  background:#4A4A4A;
  padding: 5%;
  color:#fff;
}


/********* Landing; Jumbotron *********/

.jumbobox h1, .jumbobox h2, .jumbobox h3,
#exploreModule h1, #exploreModule h2, #exploreModule h3{
  color:#fff;
}


.go-btn {
  background-color:#EF6C00;
}

.jumbobox h2 {
  font-size:3.5em;
}

.jumbobox h3 {
  font-size:3em;
}


/********* Category Icon *********/
#category a {
  color:#4A4A4A;
}

#resourceCat a {
  color:white;
}

#category p, #resourceCat p {
  font-size:2em;
}

#category a:hover, #resourceCat a:hover {
  color:#f98258;
  text-decoration: none !important;
}

#category, #resourceCat p {
  text-transform: uppercase;
  margin-top: 2%;
}

#explorecat {
  color:white;
}

.caticon {
  font-size:10em;
}



/**************
Search/article page
"By category"-2em
text below icons- 1.5em

Articles
Article header- 2.2em
text below header- 2em
"read more"

***************/


/********* Search results  *********/
.article-title, .results-title {
  color:#096378;
}
.result {
  background-color: #F5F5F7;  
  padding:2%;
  margin-bottom:2%;
  border:2px solid #4A4A4A;
  border-radius: 2%;
}

.result a {
  text-decoration: underline;
}

/********* Articles *********/

#article {
  border: 1px solid #4A4A4A;
  padding:5%;
}
#goto {
  margin:0;
  padding:1%;
  background: #4A4A4A;
  color:white;
}




#backto{
  margin-top: 10%;
}

#backto a {
  text-decoration: underline;
}

.article-section {
  padding-left:5%;
  padding-right:5%;
}
#authname {
  color:#096378;
}
.articleupdate {
  margin-left:5%;
}


/********* Resource Module *********/
.resourcemod {
	padding:2%;
	margin-bottom:2%;
}

.resourceitem {
  background-color: #eee;
}

.resourcemod a {
  text-decoration: underline;
}





/***** ICON FONT ******/

@charset "UTF-8";

/* untitled-font-1 */
@font-face {
  font-family: "untitled-font-1";
  src:url("https://fontastic.s3.amazonaws.com/kCqmu6HTqMr6847Rf3XL4T/fonts/1442088835.eot");
  src:url("https://fontastic.s3.amazonaws.com/kCqmu6HTqMr6847Rf3XL4T/fonts/1442088835.eot?#iefix") format("embedded-opentype"),
    url("https://fontastic.s3.amazonaws.com/kCqmu6HTqMr6847Rf3XL4T/fonts/1442088835.woff") format("woff"),
    url("https://fontastic.s3.amazonaws.com/kCqmu6HTqMr6847Rf3XL4T/fonts/1442088835.ttf") format("truetype"),
    url("https://fontastic.s3.amazonaws.com/kCqmu6HTqMr6847Rf3XL4T/fonts/1442088835.svg#1442088835") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-employment:before {
  content: "a";
}
.icon-family:before {
  content: "b";
}
.icon-finances:before {
  content: "c";
}
.icon-home:before {
  content: "d";
}
