{% extends "base.html" %}
{% block title %}{{ article.title }} - LegalPal{% endblock %}
{% block content %}

<div class="wrapper">
	<div id="searchbar">
		<form>
			<div class="row">
				<div class="col-xs-9">
					<input type="text" name="search" class="form-control input-lg" placeholder="Type here to ask another question">
				</div>

				<div class="col-xs-3">
					<button type="submit" class="btn btn-success btn-block btn-lg">Get help!</button>
				</div>
			</div>
		</form>
	</div>

	<div id="article">
		<h2>{{ article.title }}</h2>
		<p>Author: {{ article.author }} Article Last Updated: {{ article.last_updated }} </p>
		<p>{{ article.text }}</p>
		

		<a href="#">Back to search results</a>
	</div>


	<div id="ResourceContact">
		<h2>reSOurCes</h2>
		<div class="row">
			<div class="col-xs-4">
				{% for resource in resources %}
					{% include 'resource.html' %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>


{% endblock %}
