{% extends "base.html" %}

{% block content %}
<div class="wrapper">
	<div id="assistModule" class="container-fluid jumbotron text-center">

		

		<h1> How can we assist you?</h1>
		<form action="{% url 'search' %}" method="post"> {% csrf_token %}
			<div class="form-group">
					<input type="text" name="query" class="input-lg" placeholder="Type your question here...">
					<button type="submit" class="btn btn-success btn-lg ">Get help!</button>
			</div>
		</form>

			<p> We are a group dedicated to helping fellow Texans navigate everyday legal troubles!</p>
			<p><a href="#">Read More About Us</a></p>
	</div>  <!-- assistModule -->


	<div id="exploreModule" class="container-fluid jumbotron text-center">
		<p>Explore common questions by topic:</p>
		<div class="row">
			{% for category in categories %}
			<div id='category' class="col-xs-6 col-md-3">
				<a href="{% url 'category' category.pk %}"> <span class="{{ category.icon }}"></span></a>
				<p><a href="{% url 'category' category.pk %}">{{ category.name }}</a></p>
			</div>
			{% endfor %}
		</div> <!-- row -->

	</div> <!-- exploreModule -->

</div> <!-- wrapper -->
{% endblock %}
