{% extends "base.html" %}
{% block title %}Resources - Legal Pal{% endblock %}
{% block content %}


<div class="wrapper">
<div id="searchbar">
	<form>
		<div class="form-group">
				<div class='row'>
					<div class='col-xs-8 col-xs-offset-1'>
						<input type="text" name="query" class="form-control input-lg" placeholder="Type your question here...">
					</div>
					<div class='col-xs-2'> 
						<button type="submit" class="btn btn-block btn-lg go-btn">Go</button>
					</div>
				</div> <!-- end row class-->
			</div>
	</form>
</div>

{% if categories %}
<div id="exploreModule" class="container-fluid jumbotron text-center">
	<p id="explorecat">Explore common questions by topic:</p>
	<div class="row">
		{% for category in categories %}
		<div id='resourceCat' class="col-xs-6 col-md-3">
			<a href="{% url 'category_resources' category.pk %}">
				<div id='cat-circle'>
				<span class="{{ category.icon }}"></span>
				</div>
			</a>
			<p><a href="{% url 'category_resources' category.pk %}">{{ category.name }}</a></p>
		</div>
		{% endfor %}
	</div> <!-- row -->
</div> <!-- exploreModule -->
{% endif %}
<div class='resoucemod section'>
	<div class="row">
		<div class='col-xs-4'>
		{% for resource in resources %}
			{% include 'resource.html' %}
		{% endfor %}
		</div>
	</div>
</div><!-- ResouceMod -->

</div>

{% endblock %}