{% extends "base.html" %}
{% block title %}Resources - Legal Pal{% endblock %}
{% block content %}


<div class="wrapper">
<div id="searchbar">
	<form>
		<div class="row">
			<div class="col-xs-9">
				<input type="text" name="search" class="form-control input-lg" placeholder="Type here to ask another question">
			</div>
			<div class="col-xs-3">
				<button type="submit" class="btn btn-success btn-block btn-lg">Get help!</button>
			</div>
		</div>
	</form>
</div>

{% if categories %}
<div id="exploreModule" class="container-fluid jumbotron text-center">
	<p>Explore common questions by topic:</p>
	<div class="row">
		{% for category in categories %}
		<div id='resourceCat' class="col-xs-6 col-md-3">
			<a href="{% url 'category_resources' category.pk %}"> <span class="{{ category.icon }}"></span></a>
			<p><a href="{% url 'category_resources' category.pk %}">{{ category.name }}</a></p>
		</div>
		{% endfor %}
	</div> <!-- row -->
</div> <!-- exploreModule -->
{% endif %}

<div class="row">
	{% for resource in resources %}
		{% include 'resource.html' %}
	{% endfor %}
</div>
</div><!-- ResouceMod -->

</div>

{% endblock %}